html{
  margin: 2%;
}

h1{
  color: white;
}

p{
  color: white;
}

body {
  font-size: 100%; /* start value*/
  margin: auto;  /* centers the page */
  max-width: 860px;  
}


footer {
  outline: 4px solid rgb(223, 184, 77);
}

.threepixls {
  padding-left: 3px;
}

header {
  text-align: center;
}

.startpage h1 {
  font-size: 500%; /* Big title on the start page*/
}

.tagline {
  font-size: 120%;
  padding: 0.5em; /* distance to the border*/
  border-top: 2px double #FFA500;
  margin: 1em 0; /* distance downwards but not upwards*/
}

 .menu h2 {
  margin: 0 0 1em;
  padding: 2em 0;
  background-color: #e8eeed;  /* very light gray*/
  text-align: center;
}

.hwrap{
  margin: 100px auto;
  width: 700px;
  height: 300px;
  background-image: url(https://pbs.twimg.com/media/FCeii-XX0AYhUIa?format=jpg&name=large); /* or url(https://www.....) if the image is online */

  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.4);
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu a:focus
.menu a:hover {
  text-decoration: underline;
  color: #9b624c;
}

.menu h2{
  margin: 0 0 1em;
  padding: 2em 0;
  background-color: #ff8b0636;
  text-align: center;
  box-shadow: inset 0 0 20px #ff9900;
  border-radius: 30%;
}

footer {
  margin-top: 3em;
  text-align: center;
  color: rgb(214, 177, 177);
}

.startpage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.startpage header, .startpage footer {
  flex: 0 0 100%;
}

.startpage section{
  flex: 0 0 30%;
}
